<!doctype html>
<html lang="en"
      xmlns:th="http:www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>From Patient</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3">
        <form method="post" th:action="@{/admin/editPatient(page=${page}, keyword=${keyword})}">
            <div>
                <label>ID</label>
                <label th:text="${patient.id}"></label>
                <input class="form-control" type="hidden" name="id" th:value="${patient.id}">

            </div>
            <div>
                <label>Nom</label>
                <input class="form-control" type="text" name="nom" th:value="${patient.nom}">
                <span class="text-danger" th:errors="${patient.nom}"></span>
            </div>
            <div>
                <label>Date naissance</label>
                <input class="form-control" type="date" name="dateNaissance" th:value="${patient.dateNaissance}">
                <span class="text-danger" th:errors="${patient.dateNaissance}"></span>
            </div>
            <div>
                <label>Malade</label>
                <input type="checkbox" name="malade" th:value="${patient.malade}">
                <span class="text-danger" th:errors="${patient.malade}"></span>
            </div>
            <div>
                <label>Score</label>
                <input class="form-control" type="text" name="score" th:value="${patient.score}">
                <span class="text-danger" th:errors="${patient.score}"></span>

            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <!--38:30-->
        </form>
    </div>

</div>

</body>
</html>